<!DOCTYPE html>
<html lang="en">

<head>
    <title>Queen Kuweni - Appointment calendar</title>
    <%- header_tags %>
        <style>
            html,
            body {
                overflow-x: hidden !important;
            }
        </style>

</head>

<body>

    <!------------------- navbar --------------->
    <%- sidebar %>
        <!--------------- navbar end --------------->

        <!----------- Appointment calendar start---------->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-xl-5 pt-5">
                        <div class="mt-md-4 pt-5">
                            <h4 class="text-center appointment-calendar-tital">
                                Appointment calendar
                            </h4>
                        </div>
                        <!------------------ Your Information start------------------->
                        <div class="row mt-xl-5 pt-5 pt-3">
                            <div class="col-md-12" id="appointmentcalendaform">
                                <form class="row g-3">
                                    <h3 class="view-bag-form-hadder-text mb-0">Your Information
                                    </h3>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="firstName"
                                            placeholder="First Name*">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="lastName" placeholder="Last Name*">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" class="form-control" id="email" placeholder="Email*">
                                    </div>
                                    <div class="col-md-1">
                                        <select class="form-select" id="countryCode">
                                            <option value="94" selected>+94</option>
                                        </select>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" id="phone"
                                            placeholder="Phone Number Without First 0 *"
                                            oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 9)">
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="address" placeholder="Address*">
                                    </div>
                                    <div class="col-md-4">
                                        <h3 class="mb-0 appointment-calendar-subtital">Choose your reason</h3>
                                    </div>

                                    <div class="col-md-8">
                                        <select class="form-select" aria-label="Default select example" id="reason">
                                            <option selected disabled>Select your Reason*</option>
                                            <option value="Place an order">Place an order</option>
                                            <option value="For the Fit-on">For the Fit-on</option>
                                            <option value="Alteration">Alteration</option>
                                            <option value="Other">Other</option>
                                        </select>

                                        <div id="orderNumberSection" style="display: none;">
                                            <div class="row mt-3">
                                                <div class="col-4">
                                                    <h3 class="mb-0 appointment-calendar-subtital">Order number</h3>
                                                </div>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" id="invoiceNo"
                                                        placeholder="Fill your invoice number**">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-3" id="textareaSection">
                                            <textarea class="form-control" rows="5" id="reasonNote"
                                                name="text"></textarea>
                                        </div>
                                    </div>



                                </form>
                                <!-----------Choose Date And Time start-------->


                                <div class="row g-3">
                                    <div class="col-xl-4 col-md-12">
                                        <h4 class="appointment-calendar-subtital mt-4">
                                            Choose your date and time
                                        </h4>
                                    </div>
                                    <div class="col-xl-8 col-md-12">
                                        <div class="row mt-3">
                                            <div
                                                class="col-md-6 d-flex gap-3 align-items-center justify-content-between mb-3 ">
                                                <div class="text-form-appointment">
                                                    Month
                                                </div>
                                                <select class="form-select" id="monthSelect">
                                                </select>
                                            </div>

                                            <div
                                                class="col-md-6 d-flex gap-3 align-items-center justify-content-between mb-3">
                                                <div class="text-form-appointment">
                                                    Date
                                                </div>
                                                <select class="form-select" id="dateSelect">
                                                </select>
                                            </div>

                                            <div
                                                class="col-md-6 d-flex gap-3 align-items-center justify-content-between mb-3">
                                                <div class="text-form-appointment">
                                                    Stating Time
                                                </div>
                                                <select class="form-select" id="startTime">
                                                    <option value="10">10:00 AM</option>
                                                    <option value="11">11:00 AM</option>
                                                    <option value="12">12:00 PM</option>
                                                    <option value="13">13:00 PM</option>
                                                    <option value="14">14:00 PM</option>
                                                    <option value="15">15:00 PM</option>
                                                    <option value="16">16:00 PM</option>
                                                    <option value="17">17:00 PM</option>
                                                </select>
                                            </div>

                                            <div
                                                class="col-md-6 d-flex gap-3 align-items-center justify-content-between mb-3">
                                                <div class="text-form-appointment">
                                                    End Time
                                                </div>
                                                <select class="form-select" disabled id="endTime">
                                                    <option value="11">11:00 AM</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mt-5 pt-5">
                                    <div class="appointment-calendar-description-border">
                                        <div class="col-md-12 py-5">
                                            <h4 class="appointment-calendar-description text-center mb-0">Once you
                                                submit your appointment, NB Artisan Heritage will confirm the
                                                appointment via SMS or email. If you have any inquiries contact us.
                                            </h4>
                                        </div>
                                    </div>

                                    <div class="text-center py-xl-5 my-5">
                                        <a href="javascript:void(0)"><button type="button" onclick="addAppointment()"
                                                class="btn appointment-calendar-buttion">Continue</button></a>
                                    </div>
                                </div>


                                <!-----------Choose Date And Time end-------->
                            </div>
                        </div>
                        <!------------------ Your Shipping Information End------------------->
                    </div>
                </div>



            </div>
        </section>
        <!----------- Appointment calendar end---------->

        <!-- Footer Start-->
        <%- script_tags %>
            <%- web_footer %>
                <!-- Footer End-->

                <!-- script -->
                <script>
                    var currentDate = new Date();
                    var after60Days = new Date(currentDate);
                    after60Days.setDate(after60Days.getDate() + 60);
                    const monthAfter60Days = after60Days.getMonth() + 1;
                    const dayAfter60Days = after60Days.getDate();

                    let notAvailableDates = <%- notAvailableDates %>

                    let selectedCard = null;

                    var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                    // var months = ["January", "February"];

                    function toggleSelection(card, partNumber) {
                        if (selectedCard) {
                            selectedCard.classList.remove('selected');
                        }
                        card.classList.add('selected');
                        selectedCard = card;

                        showPart(partNumber);
                    }

                    function showPart(partNumber) {
                        for (let i = 1; i <= 4; i++) {
                            const part = document.getElementById('part' + i);
                            if (i === partNumber) {
                                part.style.display = 'block';
                            } else {
                                part.style.display = 'none';
                            }
                        }
                    }

                    // Get the select element and the sections to show/hide
                    var selectElement = document.getElementById('reason');
                    var orderNumberSection = document.getElementById('orderNumberSection');
                    // Add an event listener to the select element
                    selectElement.addEventListener('change', function () {
                        $("#invoiceNo").val("")
                        // Check the selected value and show/hide the sections accordingly
                        if (selectElement.value === 'For the Fit-on' || selectElement.value === 'Alteration') {
                            orderNumberSection.style.display = 'block';
                        }
                        else {
                            // For other values, hide both sections
                            orderNumberSection.style.display = 'none';

                        }
                    });


                    // Load months and dates
                    var currentMonth = new Date().getMonth();
                    let j = 0;
                    for (var i = 0; i < 12; i++) {
                        if (!months[i]) {
                            continue;
                        }
                        var option = $('<option></option>').attr('value', months[i] + ' ' + (new Date().getFullYear())).text(months[i] + ' ' + (new Date().getFullYear()));
                        if (i === currentMonth) {
                            option.attr('selected', 'selected');
                        }

                        if (i >= currentMonth) {
                            if (i === monthAfter60Days) {
                              
                                break;
                            }
                            $('#monthSelect').append(option);
                            j += 1;
                        }
                    }

                    // Populate dates dropdown based on the selected month
                    updateDatesDropdown();

                    // Function to update dates dropdown based on the selected month
                    function updateDatesDropdown() {
                        // Parse input to extract month and year
                        let input = $('#monthSelect').val();

                        var thisMonth = new Date().getMonth();
                        const [monthString, yearString] = input.split(' ');
                        const month = new Date(Date.parse(monthString + ' 1, ' + yearString)).getMonth() + 1; // Months are 0-based in JavaScript

                        // Get the current date
                        const currentDate = new Date(Date.now());
                        const currentMonth = currentDate.getMonth() + 1;
                        const currentYear = currentDate.getFullYear();

                        // Get the number of days in the month
                        let lastDay = new Date(yearString, month, 0).getDate();

                        // Need block 4 days from current date
                        let tm = false;
                        let dayNo = 1;

                        if (input.split(' ')[0] === months[thisMonth]) {
                            tm = true;
                            dayNo = currentDate.getDate() + 4;
                        } else if (input.split(' ')[0] === months[thisMonth + 1]) {
                            const lastDay2 = new Date(yearString, month - 1, 0).getDate();

                            let d = (lastDay2 - currentDate.getDate());
                            if (d === 2) {
                                dayNo = 1;
                            } else if (d === 1) {
                                dayNo = 2;
                            } else if (d === 0) {
                                dayNo = 3;
                            }
                        }

                        const result = [];

                        // Loop through each day of the month
                        document.getElementById("dateSelect").innerHTML = ``;
                        console.log(dayNo, lastDay)
                        for (let day = dayNo; day <= lastDay; day++) {
                            // Check if the date is not in the past

                            if (month === monthAfter60Days && day === dayAfter60Days) {

                                break;
                            }
                            if (yearString > currentYear || (yearString == currentYear && month >= currentMonth)) {

                                // Holidays
                                let monthStr = month;
                                let dayStr = day;
                                if (Number(month) < 10) {
                                    monthStr = `0${month}`;
                                }
                                if (Number(day) < 10) {
                                    dayStr = `0${day}`;
                                }
                                let dateString = `${yearString}-${monthStr}-${dayStr}`;
                                if (notAvailableDates.find(item => item.date === dateString)) {
                                    continue;
                                }


                                const dateToCheck = new Date(`${yearString}-${monthStr}-${dayStr}`);
                                if (dateToCheck >= currentDate) {
                                    const dayOfWeek = dateToCheck.toLocaleDateString('en-US', { weekday: 'long' });
                                    // Format the result and push to the array
                                    result.push([day, `${month} - ${dayOfWeek}`]);
                                    if (day < 10) {
                                        day = '0' + day;
                                    }
                                    document.getElementById("dateSelect").innerHTML += `<option value="${day}">${day} - ${dayOfWeek}</option>`;
                                }
                            }
                        }
                    }
                    function formatDate(dateString) {
                        const [monthString, yearString, day] = dateString.split(' ');
                        const monthMap = {
                            "January": "01",
                            "February": "02",
                            "March": "03",
                            "April": "04",
                            "May": "05",
                            "June": "06",
                            "July": "07",
                            "August": "08",
                            "September": "09",
                            "October": "10",
                            "November": "11",
                            "December": "12"
                        };
                        const month = monthMap[monthString];
                        return `${yearString}-${month}-${day}`;
                    }

                    function updateStartTimesDropdown() {
                        // Parse input to extract month and year
                        let date = $('#dateSelect').val();
                        let monthSelect = $('#monthSelect').val();
                        formattedDate = formatDate(`${monthSelect} ${date}`);
                        $.ajax({
                            url: '/api/v1/appointment_booking/by/date',
                            method: 'post',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                appointmentDate: formattedDate
                            }),
                            success: function (data) {
                                if (data.status === true || data.status === "true") {
                                    document.getElementById("startTime").innerHTML = ``;
                                    for (var i = 10; i < 18; i++) {
                                        let d = data.data.find(item => item.stating_time == i);
                                        if (!d) {
                                            document.getElementById("startTime").innerHTML += `<option value="${i}">${i}:00 AM</option>`;
                                        }
                                    }
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.error('Error making the request:', textStatus, errorThrown);
                                iziToast.error({
                                    title: 'Error',
                                    message: 'An error occurred while processing your request.',
                                });
                            }
                        });
                    }

                    function addAppointment() {
                        // Parse input to extract month and year
                        let date = $('#dateSelect').val();
                        let monthSelect = $('#monthSelect').val();
                        formattedDate = formatDate(`${monthSelect} ${date}`);

                        let mobileCode = $('#countryCode').val();
                        let mobileNumber = $('#phone').val();

                        let formattedMobileNumber = mobileCode + mobileNumber;

                        $.ajax({
                            url: '/api/v1/appointment_booking/add',
                            method: 'post',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                "firstName": $("#firstName").val(),
                                "lastName": $("#lastName").val(),
                                "email": $("#email").val(),
                                "invoiceNo": $("#invoiceNo").val(),
                                "phone": formattedMobileNumber,
                                "address": $("#address").val(),
                                "reason": $("#reason").val(),
                                "reasonNote": $("#reasonNote").val(),
                                "appointmentDate": formattedDate,
                                "statingTime": $("#startTime").val()
                            }),
                            success: function (data) {
                                if (data.status === true || data.status === "true") {
                                    location.href = '/appointment-confrtmation?id=' + data.data.insertId;
                                } else {
                                    iziToast.error({
                                        theme: 'dark',
                                        title: '',
                                        message: data.message,
                                    });
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.error('Error making the request:', textStatus, errorThrown);
                                iziToast.error({
                                    theme: 'dark',
                                    title: 'Error',
                                    message: 'An error occurred while processing your request.',
                                });
                            }
                        });
                    }


                    // Load end time by start time
                    function loadEndTime() {
                        let startTime = parseInt(document.getElementById("startTime").value);
                        let endTime = startTime + 1;
                        let AmPm = 'AM';
                        if (endTime > 11) {
                            AmPm = 'PM';
                        }
                        document.getElementById("endTime").innerHTML = `<option value="${endTime}">${endTime}:00 ${AmPm}</option>`;
                    }
                    $('#startTime').change(function () {
                        loadEndTime();
                    });
                    // Handle month change event
                    $('#monthSelect').change(function () {
                        updateDatesDropdown();
                        updateStartTimesDropdown();
                    });
                    $('#dateSelect').change(function () {
                        updateStartTimesDropdown();
                    });

                </script>
                <%- script_tags %>
                    <!-- script -->
</body>

</html>