<!DOCTYPE html>
<html lang="en">

<head>
    <title>Queen Kuweni - Gift Voucher Purchase</title>
    <%- header_tags %>
        <style>
            html,
            body {
                overflow-x: hidden !important;
            }
        </style>
</head>

<body>


    <!------------------- navbar --------------->
    <%- sidebar %>
        <!------------------- navbar end--------------->


        <!---------------- Gift Voucher page two start----------->
        <div>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <section class="mt-md-5 mt-3 pt-5">
                                <div class="container my-md-5 my-4 pt-xl-5 ">
                                    <div class="row">
                                        <div class="col">
                                            <div class="text-center mx-auto" style="max-width: 790px;">
                                                <h3 class="gift-voucher-tital text-uppercase mb-0 mx-auto">
                                                    A precious gift
                                                    for your beloved ones
                                                </h3>

                                                <h5 class="gift-voucher-pagetwo-subtital py-md-5 py-4">Step back in time
                                                    with our captivating events, where vintage meets modern.
                                                    Explore the past while embracing future fashion trends. </h5>
                                            </div>

                                            <div class="text-center mt-4 mx-auto" style="max-width: 600px;">
                                                <h5 class="gift-voucher-pagetwo-subtital2 text-uppercase mb-3">Seat
                                                    booking
                                                    is only through our website</h5>
                                                <!-- <p class="gift-voucher-pagetwo-subtital3 mb-0"><span
                                                        class="location_name"></span> entrance gates opening hours <span
                                                        class="gate_open"></span> to <span class="gate_close"></span>
                                                    </span>
                                                <p class="gift-voucher-pagetwo-subtital4">Please note that entry is not
                                                    possible after <span class="gate_close"></span> for security reasons
                                                </p> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>

            <!-- News and Events packages start -->


            <section class="mb-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xxl-8 col-xl-12 mx-auto">

                            <div class="row g-3 row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-center align-items-center"
                                id="voucher">

                            </div>
                        </div>
                    </div>

                </div>
            </section>


            <!-- News and Events packages end -->
        </div>
        <!---------------- Gift Voucher page two end----------->

        <!---------------- Gift Voucher accordion start----------->
        <section class="py-5 my-xl-5 d-none" id="giftvoucheraccordion">
            <div class="container">
                <div class="row text-center">
                    <h6 class="gift-voucher-accordion-tital">FAQ</h6>
                </div>
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <div class="accordion border-bottom" id="accordionExample">


                            <div class="accordion-item border-0">
                                <h2 class="accordion-header border-top" id="headingOne">
                                    <button class="accordion-button ps-md-0" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h3 class="view-bag-accordion-hadder mb-0 text-capitalize">How do i
                                            make a return?</h3>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body ps-md-3 ps-md-0">
                                        <p class="view-bag-accordion-description ps-md-3">Something not
                                            quite right or having second
                                            thoughts? You can return or exchange your unworn, unaltered
                                            product(s) within 30 days of
                                            delivery at no cost to you. Return online at <a
                                                class="link-black  view-bag-accordion-description-link"
                                                href="">www.suitsupply.com/return</a> by logging in with
                                            your order details, selecting the
                                            product(s) you wish to return, and indicating whether you’d like
                                            a refund or an exchange.
                                            You can then schedule a (free) carrier pick-up service, or drop
                                            off the product(s) yourself
                                            at either a store or drop-off point. Should you ship your
                                            returns back, you can use the
                                            prepaid return label that was included in the original shipment.
                                            After your return is
                                            processed at our warehouse, we will refund the total purchase
                                            amount to the original payment
                                            method used within 5-7 business days. Exchanged products will be
                                            re-shipped within 2
                                            business days after we received your return. Otherwise, you can
                                            visit any Suitsupply store
                                            for an immediate refund or exchange.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-item border-0">
                                <h2 class="accordion-header border-top" id="headingTwo">
                                    <button class="accordion-button collapsed ps-md-0" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        <h3 class="view-bag-accordion-hadder mb-0 text-capitalize">How do i
                                            make a return?</h3>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body ps-md-3 ps-md-0">
                                        <p class="view-bag-accordion-description ps-md-3">Something not
                                            quite right or having second
                                            thoughts? You can return or exchange your unworn, unaltered
                                            product(s) within 30 days of
                                            delivery at no cost to you. Return online at <a
                                                class="link-black  view-bag-accordion-description-link"
                                                href="">www.suitsupply.com/return</a> by logging in with
                                            your order details, selecting the
                                            product(s) you wish to return, and indicating whether you’d like
                                            a refund or an exchange.
                                            You can then schedule a (free) carrier pick-up service, or drop
                                            off the product(s) yourself
                                            at either a store or drop-off point. Should you ship your
                                            returns back, you can use the
                                            prepaid return label that was included in the original shipment.
                                            After your return is
                                            processed at our warehouse, we will refund the total purchase
                                            amount to the original payment
                                            method used within 5-7 business days. Exchanged products will be
                                            re-shipped within 2
                                            business days after we received your return. Otherwise, you can
                                            visit any Suitsupply store
                                            for an immediate refund or exchange.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-item border-0">
                                <h2 class="accordion-header border-top" id="headingThree">
                                    <button class="accordion-button collapsed ps-md-0" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <h3 class="view-bag-accordion-hadder mb-0 text-capitalize">How do i
                                            make a return?</h3>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body ps-md-3 ps-md-0">
                                        <p class="view-bag-accordion-description ps-md-3">Something not
                                            quite right or having second
                                            thoughts? You can return or exchange your unworn, unaltered
                                            product(s) within 30 days of
                                            delivery at no cost to you. Return online at <a
                                                class="link-black  view-bag-accordion-description-link"
                                                href="">www.suitsupply.com/return</a> by logging in with
                                            your order details, selecting the
                                            product(s) you wish to return, and indicating whether you’d like
                                            a refund or an exchange.
                                            You can then schedule a (free) carrier pick-up service, or drop
                                            off the product(s) yourself
                                            at either a store or drop-off point. Should you ship your
                                            returns back, you can use the
                                            prepaid return label that was included in the original shipment.
                                            After your return is
                                            processed at our warehouse, we will refund the total purchase
                                            amount to the original payment
                                            method used within 5-7 business days. Exchanged products will be
                                            re-shipped within 2
                                            business days after we received your return. Otherwise, you can
                                            visit any Suitsupply store
                                            for an immediate refund or exchange.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-item border-0">
                                <h2 class="accordion-header border-top" id="heading4">
                                    <button class="accordion-button collapsed ps-md-0" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false"
                                        aria-controls="collapse4">
                                        <h3 class="view-bag-accordion-hadder mb-0 text-capitalize">How do i
                                            make a return?</h3>
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body ps-md-3 ps-md-0">
                                        <p class="view-bag-accordion-description ps-md-3">Something not
                                            quite right or having second
                                            thoughts? You can return or exchange your unworn, unaltered
                                            product(s) within 30 days of
                                            delivery at no cost to you. Return online at <a
                                                class="link-black  view-bag-accordion-description-link"
                                                href="">www.suitsupply.com/return</a> by logging in with
                                            your order details, selecting the
                                            product(s) you wish to return, and indicating whether you’d like
                                            a refund or an exchange.
                                            You can then schedule a (free) carrier pick-up service, or drop
                                            off the product(s) yourself
                                            at either a store or drop-off point. Should you ship your
                                            returns back, you can use the
                                            prepaid return label that was included in the original shipment.
                                            After your return is
                                            processed at our warehouse, we will refund the total purchase
                                            amount to the original payment
                                            method used within 5-7 business days. Exchanged products will be
                                            re-shipped within 2
                                            business days after we received your return. Otherwise, you can
                                            visit any Suitsupply store
                                            for an immediate refund or exchange.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!---------------------------- Modal start----------------->
        <div class="modal fade" id="giftVoucherModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                <div class="modal-content gift-voucher-modal-Image pb-4 rounded-0 border-0">
                    <div class="modal-header border-0 ">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center select-fabric-scrollbar">
                        <h3 class="gift-voucher-modal-tital1 mb-md-3 mb-4 pb-md-0 pb-2">You’re invited to celebrate the
                        </h3>
                        <h3 class="gift-voucher-modal-tital2 mb-5">GRAND <br>
                            OPENING</h3>

                        <div>
                            <img src="/assets/images/gift-voucher/Group167.svg" class="img-fluid mb-4" alt=""
                                width="120px">
                        </div>
                        <h3 class="gift-voucher-modal-date"><span class="event_date"></span> at <span
                                class="gate_close"></span>
                            <span class="location_name"></span>
                        </h3>

                        <h3 class="gift-voucher-modal-date"><span class="event_name"></span> at <span
                                class="event_time"></span></h3>

                        <div class="mt-4 pt-2 d-flex justify-content-center">
                            <div>
                                <h3 class="gift-voucher-modal-tital3">RSVP</h3>
                                <h3 class="gift-voucher-modal-description mb-0">We have reserved 02 seats for you.
                                    We look forward to celebrating with you!
                                    Please confirm your seat</h3>
                            </div>
                        </div>
                        <div class="text-center my-4 mx-auto">

                            <p class="gift-voucher-pagetwo-subtital3 mb-0"><span class="location_name"></span> entrance
                                gates opening hours <span class="gate_open"></span> to <span class="gate_close"></span>
                            </p>
                            <p class="gift-voucher-pagetwo-subtital4">Please note that entry is not possible after <span
                                    class="gate_close"></span> for security reasons</p>
                        </div>

                        <div class="text-center">
                            <div class="d-flex justify-content-center">
                                <div class="form-check">
                                    <input onchange="acceptPolicy(this)" class="form-check-input" type="checkbox"
                                        value="" id="acceptPolicy">
                                    <label class="gift-voucher-modal-conditions text-start" for="acceptPolicy">I have
                                        read &
                                        accept the <a class="gift-voucher-modal-conditions"
                                            href="javascript:void(0)">Terms
                                            & Conditions</a></label>
                                </div>
                            </div>
                            <button id="confirm_button" onclick="redirectFunction()" type="button"
                                class="btn btn-dark gift-voucher-modal-buttion mt-3" disabled>CONFIRM</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---------------------------- Modal end----------------->

        <!-- Back to top button start -->
        <section class="">
            <div class="container-fluid">
                <button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top">
                    <img src="/assets/images/ScrollTop.svg" class="img-fluid" alt="" id="scrollTopWhite">
                    <img src="/assets/images/ScrollTop-black.svg" class="img-fluid" alt="" id="scrollTopBlack">
                </button>

            </div>
        </section>
        <!-- Back to top button start -->

        <!-- Footer Start-->
        <%- web_footer %>
            <!-- Footer End-->
            <input type="hidden" value="0" id="totalSeatCount">
            <input type="hidden" value="0" id="voucherId">

            <!-- script start -->
            <%- script_tags %>
                <!-- script start end-->

                <script>

                    // Get the current URL
                    var currentUrl = window.location.href;
                    var parts = currentUrl.split('/');
                    var id = parts[parts.length - 1];

                    function formatTime(inputTime) {
                        // Split the input time into hours and minutes
                        var timeParts = inputTime.split(':');
                        var hours = parseInt(timeParts[0], 10);
                        var minutes = parseInt(timeParts[1], 10);

                        // Create a Date object and set the hours and minutes
                        var date = new Date();
                        date.setHours(hours);
                        date.setMinutes(minutes);

                        // Format the time using toLocaleTimeString
                        var formattedTime = date.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' });

                        return formattedTime;
                    }

                    function formatDate(inputDate) {
                        // Create a Date object from the input date
                        var date = new Date(inputDate);

                        // Format the date using toLocaleDateString
                        var options = { day: '2-digit', month: 'long', year: 'numeric' };
                        var formattedDate = date.toLocaleDateString('en-US', options);

                        // Append the ordinal suffix to the day
                        var day = date.getDate();
                        var ordinalSuffix = getOrdinalSuffix(day);
                        formattedDate = formattedDate.replace(/\d{1,2}/, day + ordinalSuffix);

                        return formattedDate;
                    }

                    // Function to get the ordinal suffix for a number
                    function getOrdinalSuffix(number) {
                        var suffix = 'th';
                        if (number % 10 === 1 && number % 100 !== 11) {
                            suffix = 'st';
                        } else if (number % 10 === 2 && number % 100 !== 12) {
                            suffix = 'nd';
                        } else if (number % 10 === 3 && number % 100 !== 13) {
                            suffix = 'rd';
                        }
                        return suffix;
                    }

                    function getEventData() {
                        $.ajax({
                            url: '/api/v1/event/view-public',
                            method: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                "id": id,
                            }),
                            success: function (data) {
                                if (data.status === true || data.status === "true") {

                                    const eventName = document.getElementsByClassName("event_name");
                                    const eventDate = document.getElementsByClassName("event_date");
                                    const eventTime = document.getElementsByClassName("event_time");
                                    const location = document.getElementsByClassName("location_name");
                                    const gateOpen = document.getElementsByClassName("gate_open");
                                    const gateClose = document.getElementsByClassName("gate_close");

                                    for (var i = 0; i < eventName.length; i++) {
                                        eventName[i].innerHTML = data.data.title;
                                    }

                                    for (var i = 0; i < location.length; i++) {
                                        location[i].innerHTML = data.data.location;
                                    }

                                    for (var i = 0; i < eventTime.length; i++) {
                                        eventTime[i].innerHTML = formatTime(data.data.event_start_time);
                                    }

                                    for (var i = 0; i < eventDate.length; i++) {
                                        eventDate[i].innerHTML = formatDate(data.data.date);
                                    }

                                    for (var i = 0; i < gateOpen.length; i++) {
                                        gateOpen[i].innerHTML = formatTime(data.data.gate_open_time);
                                    }

                                    for (var i = 0; i < gateClose.length; i++) {
                                        gateClose[i].innerHTML = formatTime(data.data.gate_close_time);
                                    }

                                } else {
                                    iziToast.error({
                                        title: 'Error',
                                        message: data.message,
                                    });
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.error('Error making the request:', textStatus, errorThrown);
                                iziToast.error({
                                    title: 'Error',
                                    message: 'An error occurred while processing your request.',
                                });
                            }
                        });
                    }
                    getEventData()

                    function getVoucherData() {
                        $.ajax({
                            url: '/api/v1/event/event-voucher-view',
                            method: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                "id": id,
                            }),
                            success: function (data) {
                                if (data.status === true || data.status === "true") {
                                    const voucherContainer = document.getElementById('voucher');

                                    for (let i = 0; i < data.data.length; i++) {
                                        const item = data.data[i];

                                        const extraDetailsArray = item.extra_details.split(',').map(detail => detail.trim());
                                        // Create a unique ID for each card
                                        const cardId = `card-color${i}`;
                                        // Generate HTML for each item
                                        const voucherHTML = `
                                            <div class="col">
                                                <div class="card h-100 border-0 voucher-card">
                                                    <div class="card-body d-flex flex-column justify-content-between p-4" style="background-color: ${item.event_ticket_color}; border-radius: 15px;" id="${cardId}">
                                                        <div class="p-md-2">
                                                            <h6 class="gift-voucher-card-category-tital1">${item.event_ticket_category}</h6>
                                                            <h4 class="gift-voucher-card-category-tita2 mb-0">LKR ${item.amount.toLocaleString()}</h4>

                                                            <span class="badge News-and-Events-badge mb-3">Viza / Master / Amex </span>

                                                            <h6 class="mb-4 gift-voucher-card-category-subtital">Book now and get </h6>
                                                            <ul class="list-unstyled">
                                                                ${extraDetailsArray.map(detail => `
                                                                    <li class="d-flex mb-2">
                                                                        <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                                                            <img src="/assets/images/News-and-Events/Type3.svg" class="img-fluid" alt="">
                                                                        </span>
                                                                        <p class="gift-voucher-card-card-list-text mb-0">${detail}</p>
                                                                    </li>
                                                                `).join('')}
                                                            </ul>
                                                            <button  type="button" class="btn btn-dark News-and-Events-card-buttion mb-0 mt-2" >Book
                                                                Now<i class="fa-solid  mb-0 fa-arrow-right ms-2"></i></button>
                                                                <!-- ${item.extra_details} -->  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        `;

                                        // onclick="book_now('${item.id}', '${item.seat_count}')"data-bs-toggle="modal" data-bs-target="#giftVoucherModal"

                                        // Append each item's HTML to the container
                                        voucherContainer.innerHTML += voucherHTML;
                                    }

                                } else {
                                    iziToast.error({
                                        theme: 'dark',
                                        title: 'Error',
                                        message: data.message,
                                    });
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.error('Error making the request:', textStatus, errorThrown);
                                iziToast.error({
                                    theme: 'dark',
                                    title: 'Error',
                                    message: 'An error occurred while processing your request.',
                                });
                            }
                        });
                    }
                    getVoucherData()

                    // Redirect Function (Confirm Button)
                    function redirectFunction() {
                        const vid = document.getElementById("voucherId").value;
                        const seat_count = document.getElementById("totalSeatCount").value;
                        window.location.href = `/voucher-booking-payment-proceed?voucher=${vid}&seatCount=${seat_count}`;
                    }

                    function book_now(id, seatCount) {
                        document.getElementById("voucherId").value = id;
                        document.getElementById("totalSeatCount").value = seatCount;
                    }

                    function acceptPolicy(checkbox) {
                        var confirmButton = document.getElementById('confirm_button');
                        if (checkbox.checked) {
                            confirmButton.removeAttribute('disabled');
                        } else {
                            confirmButton.setAttribute('disabled', 'true');
                        }
                    }

                </script>
</body>

</html>