<!DOCTYPE html>
<html lang="en">

<head>
    <title>Queen Kuweni - Gift Voucher</title>
    <%- header_tags %>

        <style>
            html,
            body {
                overflow-x: hidden !important;
            }
        </style>
</head>

<body>


    <!------------------- navbar --------------->
    <%- sidebar %>
        <!------------------- navbar end--------------->

        <!---------------- Gift Voucher page one start----------->
        <div id="giftVoucher1">
            <!---------------- Gift Voucher banner start ----------->
            <section class="mt-5 pt-5 d-none d-xl-block">

                <div class="container my-md-5 my-5 pt-xl-5 ">
                    <div class="row">
                        <div class="col">
                            <div class="text-center gift-voucher-btn-mq">
                                <h3 class="gift-voucher-tital text-uppercase mb-0 mx-auto">
                                    A precious gift
                                    for your beloved ones
                                </h3>
                                <h3 class="text-uppercase gift-voucher-subtital py-md-4 py-5 mb-0">QK Gift voucher</h3>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="d-block d-xl-none mt-5 pt-5">
                <div class="container my-md-5 my-5">
                    <div class="row">
                        <div class="col">
                            <div class="text-center gift-voucher-btn-mq">
                                <h3 class="gift-voucher-tital text-uppercase mb-0 mx-auto">
                                    A precious gift
                                    for your beloved ones
                                </h3>

                                <h3 class="text-uppercase gift-voucher-subtital py-md-4 py-5 mb-0">NB Gift voucher</h3>
                                <a id="purchaseURLMobile"><button type="button"
                                        class="btn btn-dark gift-voucher-btn mt-md-3">Purchase</button></a>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!---------------- Gift Voucher banner end ----------->


            <!---------------- Gift Voucher image start----------->
            <section class="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="/assets/images/gift-voucher/MockUp_3.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <!---------------- Gift Voucher image end----------->

            <!---------------- Gift Voucher banner start ----------->
            <section class="d-none d-xl-block">
                <div class="container my-md-5 my-5">
                    <div class="row">
                        <div class="col">
                            <div class="text-center gift-voucher-btn-mq">
                                <!-- <h3 class="gift-voucher-tital text-uppercase mb-0 mx-auto">
                                Make a booking and
                                get discounts with
                                "<span id="eventName"></span>" Tickets
                            </h3> -->

                                <!-- <a id="purchaseURL" href="/gift-voucher-purchase/events/"><button type="button" class="btn btn-dark gift-voucher-btn mt-md-5">Purchase</button></a> -->

                                <a href="#!"><button type="button"
                                        class="btn btn-dark gift-voucher-btn mt-md-5">Purchase</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!---------------- Gift Voucher banner end ----------->


        </div>
        <!---------------- Gift Voucher page one end----------->


        <!---------------- Gift Voucher accordion start----------->
        <section class="py-3 my-xl-5 d-none" id="giftvoucheraccordion">
            <div class="container">
                <div class="row text-center">
                    <h6 class="gift-voucher-accordion-tital">FAQ</h6>
                </div>
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <div class="accordion border-bottom" id="accordionExample">


                            <div class="accordion-item border-0">
                                <h2 class="accordion-header border-top" id="headingOne">
                                    <button class="accordion-button ps-md-0" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h3 class="view-bag-accordion-hadder mb-0 text-capitalize">How do i
                                            make a return?</h3>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body ps-md-3 ps-md-0">
                                        <p class="view-bag-accordion-description ps-md-3">Something not
                                            quite right or having second
                                            thoughts? You can return or exchange your unworn, unaltered
                                            product(s) within 30 days of
                                            delivery at no cost to you. Return online at <a
                                                class="link-black  view-bag-accordion-description-link"
                                                href="">www.suitsupply.com/return</a> by logging in with
                                            your order details, selecting the
                                            product(s) you wish to return, and indicating whether you’d like
                                            a refund or an exchange.
                                            You can then schedule a (free) carrier pick-up service, or drop
                                            off the product(s) yourself
                                            at either a store or drop-off point. Should you ship your
                                            returns back, you can use the
                                            prepaid return label that was included in the original shipment.
                                            After your return is
                                            processed at our warehouse, we will refund the total purchase
                                            amount to the original payment
                                            method used within 5-7 business days. Exchanged products will be
                                            re-shipped within 2
                                            business days after we received your return. Otherwise, you can
                                            visit any Suitsupply store
                                            for an immediate refund or exchange.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-item border-0">
                                <h2 class="accordion-header border-top" id="headingTwo">
                                    <button class="accordion-button collapsed ps-md-0" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        <h3 class="view-bag-accordion-hadder mb-0 text-capitalize">How do i
                                            make a return?</h3>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body ps-md-3 ps-md-0">
                                        <p class="view-bag-accordion-description ps-md-3">Something not
                                            quite right or having second
                                            thoughts? You can return or exchange your unworn, unaltered
                                            product(s) within 30 days of
                                            delivery at no cost to you. Return online at <a
                                                class="link-black  view-bag-accordion-description-link"
                                                href="">www.suitsupply.com/return</a> by logging in with
                                            your order details, selecting the
                                            product(s) you wish to return, and indicating whether you’d like
                                            a refund or an exchange.
                                            You can then schedule a (free) carrier pick-up service, or drop
                                            off the product(s) yourself
                                            at either a store or drop-off point. Should you ship your
                                            returns back, you can use the
                                            prepaid return label that was included in the original shipment.
                                            After your return is
                                            processed at our warehouse, we will refund the total purchase
                                            amount to the original payment
                                            method used within 5-7 business days. Exchanged products will be
                                            re-shipped within 2
                                            business days after we received your return. Otherwise, you can
                                            visit any Suitsupply store
                                            for an immediate refund or exchange.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-item border-0">
                                <h2 class="accordion-header border-top" id="headingThree">
                                    <button class="accordion-button collapsed ps-md-0" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <h3 class="view-bag-accordion-hadder mb-0 text-capitalize">How do i
                                            make a return?</h3>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body ps-md-3 ps-md-0">
                                        <p class="view-bag-accordion-description ps-md-3">Something not
                                            quite right or having second
                                            thoughts? You can return or exchange your unworn, unaltered
                                            product(s) within 30 days of
                                            delivery at no cost to you. Return online at <a
                                                class="link-black  view-bag-accordion-description-link"
                                                href="">www.suitsupply.com/return</a> by logging in with
                                            your order details, selecting the
                                            product(s) you wish to return, and indicating whether you’d like
                                            a refund or an exchange.
                                            You can then schedule a (free) carrier pick-up service, or drop
                                            off the product(s) yourself
                                            at either a store or drop-off point. Should you ship your
                                            returns back, you can use the
                                            prepaid return label that was included in the original shipment.
                                            After your return is
                                            processed at our warehouse, we will refund the total purchase
                                            amount to the original payment
                                            method used within 5-7 business days. Exchanged products will be
                                            re-shipped within 2
                                            business days after we received your return. Otherwise, you can
                                            visit any Suitsupply store
                                            for an immediate refund or exchange.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-item border-0">
                                <h2 class="accordion-header border-top" id="heading4">
                                    <button class="accordion-button collapsed ps-md-0" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false"
                                        aria-controls="collapse4">
                                        <h3 class="view-bag-accordion-hadder mb-0 text-capitalize">How do i
                                            make a return?</h3>
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body ps-md-3 ps-md-0">
                                        <p class="view-bag-accordion-description ps-md-3">Something not
                                            quite right or having second
                                            thoughts? You can return or exchange your unworn, unaltered
                                            product(s) within 30 days of
                                            delivery at no cost to you. Return online at <a
                                                class="link-black  view-bag-accordion-description-link"
                                                href="">www.suitsupply.com/return</a> by logging in with
                                            your order details, selecting the
                                            product(s) you wish to return, and indicating whether you’d like
                                            a refund or an exchange.
                                            You can then schedule a (free) carrier pick-up service, or drop
                                            off the product(s) yourself
                                            at either a store or drop-off point. Should you ship your
                                            returns back, you can use the
                                            prepaid return label that was included in the original shipment.
                                            After your return is
                                            processed at our warehouse, we will refund the total purchase
                                            amount to the original payment
                                            method used within 5-7 business days. Exchanged products will be
                                            re-shipped within 2
                                            business days after we received your return. Otherwise, you can
                                            visit any Suitsupply store
                                            for an immediate refund or exchange.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!---------------- Gift Voucher accordion end----------->

        <!-- Back to top button start -->
        <section class="">
            <div class="container-fluid">
                <button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top">
                    <img src="/assets/images/ScrollTop.svg" class="img-fluid" alt="" id="scrollTopWhite">
                    <img src="/assets/images/ScrollTop-black.svg" class="img-fluid" alt="" id="scrollTopBlack">
                </button>
            </div>
        </section>
        <!-- Back to top button start -->


        <!-- Footer Start-->
        <%- web_footer %>
            <!-- Footer End-->


            <!-- script start -->
            <!-- <script>
        function showGiftVoucher(idToShow) {
            // Hide all size calculators
            for (let i = 1; i <= 2; i++) {
                const calculatorId = 'giftVoucher' + i;
                document.getElementById(calculatorId).style.display = 'none';
            }

            // Show the selected size calculator
            document.getElementById(idToShow).style.display = 'block';
        }
    </script> -->
            <%- script_tags %>
                <!-- script start end-->

                <script>
                    var id = 1;

                    function getEventData() {

                        $.ajax({
                            url: '/api/v1/event/view-public',
                            method: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                "id": id,
                            }),
                            success: function (data) {
                                if (data.status === true || data.status === "true") {
                                    id = data.data.id;

                                    document.getElementById("eventName").innerHTML = data.data.title;
                                    document.getElementById("purchaseURL").href = `/gift-voucher-purchase/${data.data.id}`;
                                    document.getElementById("purchaseURLMobile").href = `/gift-voucher-purchase/${data.data.id}`
                                } else {
                                    iziToast.error({
                                        title: 'Error',
                                        message: data.message,
                                    });
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.error('Error making the request:', textStatus, errorThrown);
                                iziToast.error({
                                    title: 'Error',
                                    message: 'An error occurred while processing your request.',
                                });
                            }
                        });
                    }
                    getEventData()
                </script>
</body>

</html>