<!DOCTYPE html>
<html lang="en">

<head>
    <title>Queen Kuweni - News and Events</title>
    <%- header_tags %>

    <style>
        html,
        body {
            overflow-x: hidden !important;
        }
    </style>
</head>

<body>

    <!-- navbar start -->
    <%- sidebar %>
    <!-- navbar end -->


    <!-- News and Events banner start-->
    <div class="News-and-Events-height-mq">
        <section class="News-and-Events-height" style="background-color: #000000E5;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 News-and-Events-image-mq ">
                        <img src="assets/images/News-and-Events/Image.png"
                            class="img-fluid News-and-Events-image d-none d-sm-block" alt="">
                        <img src="assets/images/News-and-Events/Image-mobile.png"
                            class="img-fluid News-and-Events-image d-block d-sm-none" alt="">
                        <div class="News-and-Events-banner">
                            <div class="position-relative">
                                <img src="assets/images/News-and-Events/VideoButton.svg" class="img-fluid mb-2 rounded-circle"
                                    alt="" style="width: 49px;">
                                <p class="mb-2"><span class="News-and-Events-banner-date mb-0">Fashion Show </span><span
                                        class="mb-0"><i
                                            class="fa-solid fa-circle fa-2xs News-and-Events-banner-date-dot"></i></span>
                                    <span class="mb-0 News-and-Events-banner-date2">Fashion Show </span>
                                </p>
                                <h3 class="News-and-Events-banner-hadder text-white py-md-3 py-3">2024 NB <br>
                                    FASHION WEEK</h3>
                                <p class="News-and-Events-banner-description">Crafting new bright brands, unique visual
                                    systems and digital experience focused on a wide range of original collabs. We
                                    guarantee the...</p>

                                <a class="News-and-Events-banner-readmore mb-0" href="">Read more <i
                                        class="fa-solid fa-arrow-right ms-2"></i></a>

                            </div>
                        </div>
                        <div class="News-and-Events-animation-text-mq">
                            <h5 id="News-and-Events-animation-text" class="News-and-Events-animation-text disabled">
                                Badalona Diseño</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- News and Events banner end-->


    <!-- News and Events packages start -->
    <section>
        <div class="container py-4 py-md-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-8 text-center mx-auto">
                    <p class="News-and-Events-description"> Step back in time with our captivating events, where vintage
                        meets modern.
                        Explore the past while embracing future fashion trends.</p>
                    <h2 class="News-and-Events-card-hadder">Limited seats online only at our website.</h2>
                </div>
            </div>
            <!-- News and Events cards start-->
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col">
                    <div class="card h-100 border-0 News-and-Events-card1-color">
                        <div class="card-body d-flex flex-column justify-content-between p-4">
                            <div class="p-md-3">
                                <h6 class="News-and-Events-card-category-text">Deluxe</h6>
                                <h4 class="News-and-Events-card-price mb-0">$300</h4>

                                <span class="badge News-and-Events-badge mb-4">Viza / Master / Amex </span>

                                <h6 class="mb-4 News-and-Events-card-description2">Get the following deal without any
                                    risk and fees.</h6>
                                <ul class="list-unstyled">
                                    <li class="d-flex mb-2">
                                        <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                            <img src="assets/images/News-and-Events/Type3.svg" class="img-fluid" alt="">
                                        </span>
                                        <p class="News-and-Events-card-list-text mb-0">Unlimited Updates & Projects</p>
                                    </li>

                                    <li class="d-flex mb-2">
                                        <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                            <img src="assets/images/News-and-Events/Type3.svg" class="img-fluid" alt="">
                                        </span>
                                        <p class="News-and-Events-card-list-text mb-0">Custom Permissions</p>
                                    </li>

                                    <li class="d-flex mb-2">
                                        <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                            <img src="assets/images/News-and-Events/clear.svg" class="img-fluid" alt="">
                                        </span>
                                        <p class="News-and-Events-card-list-text News-and-Events-text2 mb-0">Extensions
                                            with CSS and JavaScript</p>
                                    </li>

                                    <li class="d-flex mb-2">
                                        <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                            <img src="assets/images/News-and-Events/clear.svg" class="img-fluid" alt="">
                                        </span>
                                        <p class="News-and-Events-card-list-text News-and-Events-text2 mb-0">Unlimited
                                            Bandwidth and Storage</p>
                                    </li>

                                </ul>
                                <button type="button" class="btn btn-dark News-and-Events-card-buttion mb-0 mt-3">Book
                                    Now<i class="fa-solid  mb-0 fa-arrow-right ms-2"></i></button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 border-0 News-and-Events-card2-color">
                        <div class="card-body d-flex flex-column justify-content-between p-4">
                            <div class="p-md-3">
                                <h6 class="News-and-Events-card-category-text text-white">Premium</h6>
                                <h4 class="News-and-Events-card-price mb-0 text-white">$600</h4>

                                <span class="badge News-and-Events-badge mb-4">Viza / Master / Amex </span>

                                <h6 class="mb-4 News-and-Events-card-description2 text-white">Get the following deal
                                    without any risk and fees.</h6>
                                <ul class="list-unstyled">
                                    <li class="d-flex mb-2">
                                        <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                            <img src="assets/images/News-and-Events/Type2.svg" class="img-fluid" alt="">
                                        </span>
                                        <p class="News-and-Events-card-list-text mb-0 text-white">Unlimited Updates &
                                            Projects</p>
                                    </li>

                                    <li class="d-flex mb-2">
                                        <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                            <img src="assets/images/News-and-Events/Type2.svg" class="img-fluid" alt="">
                                        </span>
                                        <p class="News-and-Events-card-list-text mb-0 text-white">Custom Permissions</p>
                                    </li>

                                    <li class="d-flex mb-2">
                                        <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                            <img src="assets/images/News-and-Events/Type2.svg" class="img-fluid" alt="">
                                        </span>
                                        <p class="News-and-Events-card-list-text mb-0 text-white">Extensions with CSS
                                            and JavaScript</p>
                                    </li>

                                    <li class="d-flex mb-2">
                                        <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                            <img src="assets/images/News-and-Events/Vector.svg" class="img-fluid" alt="">
                                        </span>
                                        <p class="News-and-Events-card-list-text News-and-Events-card-text3 mb-0">
                                            Unlimited Bandwidth and Storage</p>
                                    </li>



                                </ul>
                                <button type="button" class="btn btn-dark News-and-Events-card-buttion mb-0 mt-3">Book
                                    Now<i class="fa-solid  mb-0 fa-arrow-right ms-2"></i></button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 border-0 News-and-Events-card3-color">
                        <div class="card-body d-flex flex-column justify-content-between p-4">
                            <div class="p-md-3">
                                <h6 class="News-and-Events-card-category-text text-white">VIP</h6>
                                <h4 class="News-and-Events-card-price mb-0 text-white">$900</h4>

                                <span class="badge News-and-Events-badge mb-4">Viza / Master / Amex </span>

                                <h6 class="mb-4 News-and-Events-card-description2 text-white">Get the following deal
                                    without any risk and fees.</h6>
                                <ul class="list-unstyled">
                                    <li class="d-flex mb-2">
                                        <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                            <img src="assets/images/News-and-Events/Type2.svg" class="img-fluid" alt="">
                                        </span>
                                        <p class="News-and-Events-card-list-text mb-0 text-white">Unlimited Updates &
                                            Projects</p>
                                    </li>

                                    <li class="d-flex mb-2">
                                        <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                            <img src="assets/images/News-and-Events/Type2.svg" class="img-fluid" alt="">
                                        </span>
                                        <p class="News-and-Events-card-list-text mb-0 text-white">Custom Permissions</p>
                                    </li>

                                    <li class="d-flex mb-2">
                                        <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                            <img src="assets/images/News-and-Events/Type2.svg" class="img-fluid" alt="">
                                        </span>
                                        <p class="News-and-Events-card-list-text mb-0 text-white">Extensions with CSS
                                            and JavaScript</p>
                                    </li>

                                    <li class="d-flex mb-2">
                                        <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                            <img src="assets/images/News-and-Events/Type2.svg" class="img-fluid" alt="">
                                        </span>
                                        <p class="News-and-Events-card-list-text mb-0 text-white">Unlimited Bandwidth
                                            and Storage</p>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-dark News-and-Events-card-buttion mb-0 mt-3">Book
                                    Now<i class="fa-solid  mb-0 fa-arrow-right ms-2"></i></button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- News and Events cards end-->
        </div>
    </section>
    <!-- News and Events packages end -->


    <!-- Download Mobile App -->
    <section class="mt-md-5 mt-4 mb-5 pb-md-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-md-8 col-12 mx-auto text-center">
                    <p class="mb-1 nearest-store-Download nearest-store">Download Mobile App</p>
                    <p class="nearest-store2">Exclusive Deals, Ticket booking and Offers!</p>
                    <div class="d-flex align-items-center justify-content-center">
                        <a href=""><img src="assets/images/nearest-store/Group-155.svg" class="img-fluid" alt=""></a>
                        <a href=""><img src="assets/images/nearest-store/google-play-badge 1.svg" class="img-fluid"
                                alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Download Mobile App end-->

    <!-- WORK INQUIRIES -->
    <section class="px-md-0 px-3">
        <div class="myImage py-md-5">
            <div class="container">
                <div class="row d-flex justify-content-between align-items-center py-md-5 py-4">
                    <div class="col-md-4 col-xl-4">
                        <h4 class="Work-inquiries-text1 mb-0 text-uppercase">Work inquiries</h4>
                        <h4 class="mt-4 Work-inquiries-text2">Questions?
                            Get in touch.</h4>
                        <button type="button" class="btn btn-dark News-and-Events-Work-inquiries-btn mb-0 mt-3">Contact
                            Us<i class="fa-solid  mb-0 fa-arrow-right ms-2"></i></button>
                    </div>
                    <div class="col-md-4 col-xl-4 mt-md-0 mt-4 ">
                        <div>
                            <div>
                                <p class="Work-inquiries-detalls-text1 mb-0">Barcelona</p>
                                <p class="Work-inquiries-detalls-text2 mb-0"> Laura Norson</p>
                                <p class="Work-inquiries-detalls-text2 mb-0">laura@sayhello.colabr.io</p>
                                <p class="Work-inquiries-detalls-text2 mb-0">+3.230.705.5448</p>
                            </div>

                            <div class="mt-4">
                                <p class="Work-inquiries-detalls-text1 mb-0">Barcelona</p>
                                <p class="Work-inquiries-detalls-text2 mb-0"> Laura Norson</p>
                                <p class="Work-inquiries-detalls-text2 mb-0">laura@sayhello.colabr.io</p>
                                <p class="Work-inquiries-detalls-text2 mb-0">+3.230.705.5448</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- WORK INQUIRIES End-->


    <!---------------WORK INQUIRIES Cards start---------------->
    <section class="my-xl-5 my-md-3 py-md-5 my-5">
        <div class="container">
            <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1 gy-4">
                <div class="col">
                    <div class="card border-0 h-100 ">
                        <div class="card-body">
                            <h5 class="recent-news-events-Subtitle text-uppercase">Recent news & EVENTS</h5>
                            <h6 class="recent-news-events-Header">Stay up to date
                                with our news.</h6>
                            <button type="button" class="btn btn-dark Recent-news-and-events-buttion border-0 mt-3">Go
                                to the Blog<i class="fa-solid  mb-0 fa-arrow-right ms-2"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card border-0 h-100 recent-news-events-cards-color p-3">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <img src="assets/images/News-and-Events/Avatar.svg" class="img-fluid" alt="">
                                    </div>
                                    <div class="ms-2">
                                        <h5 class="recent-news-events-cards-Postedby mb-1">Posted by</h5>
                                        <h5 class="mb-0 recent-news-events-cards-Name">Colin Lucido</h5>
                                    </div>
                                </div>
                                <div>
                                    <a type="button" class="btn"><i class="fa-solid fa-arrow-left"></i></a>
                                    <a type="button" class="btn"><i class="fa-solid fa-arrow-right"></i></a>

                                </div>
                            </div>

                            <div class="mt-5 pt-5">
                                <h3 class="recent-news-events-cards-date">Sep 26, 2021 <span>·</span> 9 min read</h3>
                                <h3 class="recent-news-events-cards-Header">Outdoor Work: a Designer’s Checklist for
                                    Every UX Project.</h3>
                                <div class="d-flex">
                                    <span class="badge News-and-Events-badge me-1">Case Study</span>
                                    <span class="badge News-and-Events-badge me-1">Perspectives</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card border-0 h-100 recent-news-events-cards-color">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <img src="assets/images/News-and-Events/Avatar.svg" class="img-fluid" alt="">
                                    </div>
                                    <div class="ms-2">
                                        <h5 class="recent-news-events-cards-Postedby mb-1">Posted by</h5>
                                        <h5 class="mb-0 recent-news-events-cards-Name">Colin Lucido</h5>
                                    </div>
                                </div>
                                <div>
                                    <a type="button" class="btn"><i class="fa-solid fa-arrow-left"></i></a>
                                    <a type="button" class="btn"><i class="fa-solid fa-arrow-right"></i></a>

                                </div>
                            </div>

                            <div class="mt-5 pt-5">
                                <h3 class="recent-news-events-cards-date">Sep 26, 2021 <span>·</span> 9 min read</h3>
                                <h3 class="recent-news-events-cards-Header">Outdoor Work: a Designer’s Checklist for
                                    Every UX Project.</h3>
                                <div class="d-flex">
                                    <span class="badge News-and-Events-badge me-1">Case Study</span>
                                    <span class="badge News-and-Events-badge me-1">Perspectives</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card border-0 h-100 recent-news-events-cards-color">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <img src="assets/images/News-and-Events/Avatar.svg" class="img-fluid" alt="">
                                    </div>
                                    <div class="ms-2">
                                        <h5 class="recent-news-events-cards-Postedby mb-1">Posted by</h5>
                                        <h5 class="mb-0 recent-news-events-cards-Name">Colin Lucido</h5>
                                    </div>
                                </div>
                                <div>
                                    <a type="button" class="btn"><i class="fa-solid fa-arrow-left"></i></a>
                                    <a type="button" class="btn"><i class="fa-solid fa-arrow-right"></i></a>

                                </div>
                            </div>

                            <div class="mt-5 pt-5">
                                <h3 class="recent-news-events-cards-date">Sep 26, 2021 <span>·</span> 9 min read</h3>
                                <h3 class="recent-news-events-cards-Header">Outdoor Work: a Designer’s Checklist for
                                    Every UX Project.</h3>
                                <div class="d-flex">
                                    <span class="badge News-and-Events-badge me-1">Case Study</span>
                                    <span class="badge News-and-Events-badge me-1">Perspectives</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card border-0 h-100 recent-news-events-cards-color">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <img src="assets/images/News-and-Events/Avatar.svg" class="img-fluid" alt="">
                                    </div>
                                    <div class="ms-2">
                                        <h5 class="recent-news-events-cards-Postedby mb-1">Posted by</h5>
                                        <h5 class="mb-0 recent-news-events-cards-Name">Colin Lucido</h5>
                                    </div>
                                </div>
                                <div>
                                    <a type="button" class="btn"><i class="fa-solid fa-arrow-left"></i></a>
                                    <a type="button" class="btn"><i class="fa-solid fa-arrow-right"></i></a>

                                </div>
                            </div>

                            <div class="mt-5 pt-5">
                                <h3 class="recent-news-events-cards-date">Sep 26, 2021 <span>·</span> 9 min read</h3>
                                <h3 class="recent-news-events-cards-Header">Outdoor Work: a Designer’s Checklist for
                                    Every UX Project.</h3>
                                <div class="d-flex">
                                    <span class="badge News-and-Events-badge me-1">Case Study</span>
                                    <span class="badge News-and-Events-badge me-1">Perspectives</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card border-0 h-100 recent-news-events-cards-color">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <img src="assets/images/News-and-Events/Avatar.svg" class="img-fluid" alt="">
                                    </div>
                                    <div class="ms-2">
                                        <h5 class="recent-news-events-cards-Postedby mb-1">Posted by</h5>
                                        <h5 class="mb-0 recent-news-events-cards-Name">Colin Lucido</h5>
                                    </div>
                                </div>
                                <div>
                                    <a type="button" class="btn"><i class="fa-solid fa-arrow-left"></i></a>
                                    <a type="button" class="btn"><i class="fa-solid fa-arrow-right"></i></a>

                                </div>
                            </div>

                            <div class="mt-5 pt-5">
                                <h3 class="recent-news-events-cards-date">Sep 26, 2021 <span>·</span> 9 min read</h3>
                                <h3 class="recent-news-events-cards-Header">Outdoor Work: a Designer’s Checklist for
                                    Every UX Project.</h3>
                                <div class="d-flex">
                                    <span class="badge News-and-Events-badge me-1">Case Study</span>
                                    <span class="badge News-and-Events-badge me-1">Perspectives</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-3">
                <div class="text-center">
                    <h6 class="text-secondary py-3 mb-0">Loading…</h6>
                </div>
            </div>
        </div>
    </section>
    <!---------------WORK INQUIRIES Cards end---------------->


    <!-- Back to top button start -->
    <section class="">
        <div class="container-fluid">
            <button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top">
                <img src="assets/images/ScrollTop.svg" class="img-fluid" alt="" id="scrollTopWhite">
                <img src="assets/images/ScrollTop-black.svg" class="img-fluid" alt="" id="scrollTopBlack">
            </button>
        </div>
    </section>
    <!-- Back to top button start -->


    <!-- Footer Start-->
    <%- web_footer %>
    <!-- Footer End-->


    <%- script_tags %>

    <script>
        gsap.to("#News-and-Events-animation-text", {
            duration: 5,
            x: "-150%",
            repeat: -1,
            ease: "linear"
        });
    </script>
</body>

</html>