<!DOCTYPE html>
<html lang="en">

<head>
    <title>Queen Kuweni - Login</title>
    <%- header_tags %>
        <style>
            html,
            body {
                overflow-x: hidden !important;
            }
        </style>
</head>

<body>

    <!------------------- navbar start--------------->
    <%- sidebar %>
        <!----------------- navbar end--------------->


        <!------------------ Login form ------------------>


        <section id="loginForm">
            <div class="w-full form-container">
                <div class="form-content">
                    <div class="d-flex justify-content-center">
                        <h6 class="Login-Or-register-text mb-3">Rest Your Password</h6>
                    </div>
                    <div class="text-center w-100 loginemail" id="">
                        <div class="mb-2">
                            <input class="" type="email" id="email" placeholder="Email" />
                        </div>

                        <div class="mb-3 d-flex justify-content-center">
                            <button class="btn btn-dark text-white d-block mt-4 login-button" id="reset"
                                onclick="getCode()" type="submit">Reset</button>
                        </div>

                        <div class="text-center mt-2">
                            <a href="/login" class="register-form-link">Remember Your Password?
                                Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="otpForm" class="d-none">
            <div class="w-full form-container">
                <div class="form-content">
                    <div class="d-flex justify-content-center">
                        <h6 class="Login-Or-register-text mb-3">Enter Your OTP</h6>
                    </div>
                    <div class="text-center w-100 loginemail" id="">
                        <div class="mb-2">
                            <input class="" type="text" id="otp" placeholder="OTP" />
                        </div>

                        <div class="mb-3 d-flex justify-content-center">
                            <button class="btn btn-dark text-white d-block mt-4 login-button" onclick="verifyCode()"
                                type="submit">Verify OTP</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="resetForm" class="d-none">
            <div class="w-full form-container">
                <div class="form-content">
                    <div class="d-flex justify-content-center">
                        <h6 class="Login-Or-register-text mb-3">Rest Your Password</h6>
                    </div>
                    <div class="text-center w-100 loginemail" id="">
                        <div class="col-md-12 mb-2">
                            <input class="" type="password" id="password" placeholder="Password *" />
                        </div>

                        <div class="col-md-12 mb-2">
                            <input class="" type="password" id="confirm_password" placeholder="Confirm Password *" />
                        </div>

                        <div class="mb-3 d-flex justify-content-center">
                            <button class="btn btn-dark text-white d-block mt-4 login-button" onclick="resetPassword()"
                                type="submit">Rest Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!------------------ Login form End------------------>

        <!-- Footer Start-->
        <%- web_footer %>
            <!-- Footer End-->

            <!-- script start-->
            <script>

                let login_form = document.getElementById('loginForm');
                let otp_form = document.getElementById('otpForm');
                let reset_form = document.getElementById('resetForm');

                function getCode() {
                    // login_form.classList.add('d-none');
                    // otp_form.classList.remove('d-none');
                    document.getElementById("reset").disabled = true;
                    $.ajax({
                        url: '/api/v1/user/forget-password',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            "email": $('#email').val()
                        }),
                        success: function (data) {
                            if (data.status === true || data.status === "true") {

                                iziToast.success({
                                    title: '',
                                    message: "Password reset link sended. please check your email inbox",
                                });
                                document.getElementById("reset").disabled = false;

                                $('#email').val("")
                            } else {

                                iziToast.error({
                                    theme: 'dark',
                                    title: 'Error',
                                    message: data.message,
                                });
                                document.getElementById("reset").disabled = false;

                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error('Error making the request:', textStatus, errorThrown);
                            iziToast.error({
                                theme: 'dark',
                                title: 'Error',
                                message: 'An error occurred while processing your request.',
                            });
                        }
                    });
                }

                function verifyCode() {
                    otp_form.classList.add('d-none');
                    reset_form.classList.remove('d-none');
                }

                // function login() {

                //     $.ajax({
                //         url: '/api/v1/user/login',
                //         method: 'POST',
                //         contentType: 'application/json',
                //         data: JSON.stringify({
                //             "email": $('#email').val(),
                //             "password": $('#password').val()
                //         }),
                //         success: function (data) {
                //             if (data.status === true || data.status === "true") {

                //                 iziToast.success({
                //                     theme: 'dark',
                // title: 'Success',
                //                     message: data.message,
                //                 });

                //                 window.location = "/profile";

                //             } else {

                //                 iziToast.error({
                //                     theme: 'dark',
                // title: 'Error',
                //                     message: data.message,
                //                 });
                //             }
                //         },
                //         error: function (jqXHR, textStatus, errorThrown) {
                //             console.error('Error making the request:', textStatus, errorThrown);
                //             iziToast.error({
                //                 theme: 'dark',
                // title: 'Error',
                //                 message: 'An error occurred while processing your request.',
                //             });
                //         }
                //     });
                // }



            </script>
            <%- script_tags %>
                <!-- script start-->
</body>

</html>