<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment </title>
    <link rel="stylesheet" href="/assets/css/payment.css">
</head>

<body>
    <div class="container">
        <h1>
            
        </h1>
        <img src="/assets/images/payment-failure.png" alt="">

        <div class="title">
            <h1>Oops! </h1>
            <h1>It seems there was a hiccup with your payment</h1>
        </div>

        <div class="error-message">
           <span>Error :</span> <%= message %>
        </div>

        <div class="description">
            <p>Please double-check your payment information and try again. </p>
            <p>If the issue persists, feel free to contact our support team for further assistance.</p>
        </div>

        <a href="/new-arrivals" class="back-button">Back To Shipping</a>
    </div>
</body>

</html>