<!DOCTYPE html>
<html lang="en">

<head>
    <title>Queen Kuweni - Terms Conditions</title>
    <%- header_tags %>
</head>

<body>

    <!------------------- navbar --------------->
    <%- sidebar %>
        <!------------------- navbar end------------>

        <section>
            <div class="container mt-5 py-5 about-container">
                <h3 class="text-uppercase about-title">TERMS AND CONDITIONS</h3>


                <h2 class="text-uppercase about-us-section-title mb-4">General</h2>

                <p class="about-us-section-text">This website, mobile application and social media pages are operated by NB Artisan Heritage (Private) Limited (the “company” herein) and its associates and affiliates. </p>
                <p class="about-us-section-text">Access to the website and/or obtaining the services is subject to these terms and conditions and our Privacy Policy. By visiting our website, ordering product and/or using the services you agree that you are bound by these terms and conditions. Therefore, please read them carefully before using our website or ordering products from the website.</p>

                
                <h2 class="text-uppercase about-us-section-title mb-4 mt-5">Readymade and customized products</h2>

                <ul>
                    <li class="about-us-section-text">Our readymade product range include suits, waist coats, trousers, shirts, ties, belts, cufflinks, shoes, slippers, Arya Sinhala dresses, under wears, handkerchiefs, socks, bags, hats and caps, vests, perfumes, bridal gowns and bridal footwear.
                    </li>
                    <li class="about-us-section-text">You can also customize the products you wish to purchase to fit your size. Our customized products range include Arya Sinhala dresses, trousers, waistcoats and suits.</li>
                </ul>

                <h2 class="text-uppercase about-us-section-title mb-4 mt-5">Size Measurement Chart</h2>

                <ul>
                    <li class="about-us-section-text">You can either choose to purchase our ready made products stitched according to standard sizes or choose to customize the product to suit your fit. </li>
                    <li class="about-us-section-text">To help you to find the right fit, we have prepared extensive Measurement Size Guides for our products along with drawings and easy to follow measurement instructions. The Measurement Size Guides are available below each product description page in our website and we recommend that you check the link and select your size to ensure the ideal fit.
                    </li>
                    <li class="about-us-section-text">Each Measurement Size Guide contains particular dimensions of each product which you can use to measure yourself or compare with a similar item available in your wardrobe. Try to provide the exact measurements without rounding the numbers. However, suits and trousers lengths are default to allow any future alterations. 
                    </li>
                    <li class="about-us-section-text">There will be variances and length changes when amending the Measurement Size Guide as this has an impact on numerous components of lengths and sizes to ensure the product fits appropriately to the completion criteria.</li>
                    <li class="about-us-section-text">Once the order is complete you cannot alter your selections.</li>
                    <li class="about-us-section-text">For any inquiries you can reach out to our Customer Care Support. </li>
                </ul>

                <h2 class="text-uppercase about-us-section-title mb-4 mt-5">Delivery</h2>

                <ul>
                    <li class="about-us-section-text">Estimated delivery time and the shipping prices may vary depending on the country. Any custom charges and import taxes are not included in the shipping price. Following the shipping of your order, you will receive an automatic email with the track and trace number. </li>
                    <li class="about-us-section-text">We have taken best endevours to deliver your orders globally within 20-30 business days. However, it may take longer due to unforeseen circumstances. </li>
                </ul>

                <h2 class="text-uppercase about-us-section-title mb-4 mt-5">Product availability and display</h2>

                <ul>
                    <li class="about-us-section-text">All the products available in our website are subject to availability.</li>
                    <li class="about-us-section-text">We have taken our best efforts to display and describe the attributes including colours and sizes of our products as accurately as possible. However, due to the inherent limitations in each and individual electronic devices we cannot guarantee that your device will accurately display the respective attributes of each product.</li>
                </ul>


                <h2 class="text-uppercase about-us-section-title mb-4 mt-5">Payment method</h2>

                <ul>
                    <li class="about-us-section-text">Our payment methods are available on the website.</li>
                    <li class="about-us-section-text">Your online payments are subject to processing by a third party payment service provider. The Company shall not be liable to any refusals relating to the online payment for any reason by the payment service provider.</li>
                </ul>

                <h2 class="text-uppercase about-us-section-title mb-4 mt-5">Defects/returns and refunds</h2>

                <ul>
                    <li class="about-us-section-text">If you wish to amend a confirmed order, you will have to contact our Customer Care Support within 24 hours of receiving our confirmation.</li>
                    <li class="about-us-section-text">If you have received any product with a defect you will have notice us within 7 days of delivery of the item and return to us without any cost to you. We will not accept any products returned after the expiry of 7 days of delivery.</li>
                    <li class="about-us-section-text">Return requests should be made via the website by login with your order details, selecting the product(s) you want to return and also informing whether you require a refund or an exchange. If you require to return a product, you can use the prepaid return label that you have received with the original shipment.</li>
                    <li class="about-us-section-text">Unworn and unaltered customized products too can be returned for reasons acceptable to the company.</li>
                    <li class="about-us-section-text">Once we have received your request for a refund within 14 business days we will let you know whether you are eligible for a refund after carefully examining the product. If the product was damaged, washed, altered or tags were removed we have the right to deduct any amount that is deemed suitable or withhold the refund. Payments will be made to the same account or the credit that you have used in your original order.</li>
                    <li class="about-us-section-text">Please note that products such as underwear, handkerchiefs, socks will not be returned when you open the package due to hygienic reasons. </li>
                    <li class="about-us-section-text">If you have requested for an exchange of product, we will re-ship your order within 10 business days. All return shipping charges are covered by the company.</li>
                </ul>

                <h2 class="text-uppercase about-us-section-title mb-4 mt-5">Intellectual Property</h2>

                <ul>
                    <li class="about-us-section-text">The trademarks, copy rights, industrial designs and all intellectual property rights in this website shall remain with the company. </li>
                    <li class="about-us-section-text">Unless otherwise expressly provided, all content on our website including software, codes, designs, graphics, photographs, videos, articles and other content is owned by the Company and is protected by the intellectual property laws. 
                    </li>
                    <li class="about-us-section-text">Any use of the website and its content including copying or storing of its content wholly or by part for use other than for your personal use is prohibited.</li>
                </ul>

                <h2 class="text-uppercase about-us-section-title mb-4 mt-5">Disclaimer</h2>

                <p class="about-us-section-text">Although we have taken our best measures to ensure that the information and content available in our website is accurate such information on the products and services available in our website are provided “as is” and “as available” basis only and without any warranties of any kind including any implied warranties relating to the quality, fitness of purpose or compliance with description except those that cannot be excluded by law.</p>

                <h2 class="text-uppercase about-us-section-title mb-4 mt-5">Out Liabilities</h2>

                <ul>
                    <li class="about-us-section-text">Our maximum liability for any loss or damage arising in connection with the order you have placed on our website shall be limited to the total payment of your order unless otherwise stipulated under the existing laws. </li>
                </ul>

                <h2 class="text-uppercase about-us-section-title mb-4 mt-5">Indemnity</h2>

                <ul>
                    <li class="about-us-section-text">You shall indemnify and keep the company, its directors, employees, partners, associates, contractors, sub-contractors, licensors indemnified and saved, harmless and reimbursed from all claims, demands, actions, proceedings, liabilities made by third parties due to or arising from your breach of any of these terms and conditions, your violation of any laws or any statutory requirements or breach of any third party rights.</li>
                </ul>

                <h2 class="text-uppercase about-us-section-title mb-4 mt-5">Events beyond our control</h2>

                <ul>
                    <li class="about-us-section-text">We will not be liable for any non-delivery or non-compliance with any obligations caused by an event beyond our control (Force Majeure events). </li>
                    <li class="about-us-section-text">Force Majeure events include acts which are not reasonably within our control including civil commotion, war, labour disputes, strikes, government actions or regulations, epidemic, quarantine restrictions, lockdowns, terrorist activities, inability to use public or private transport, inability to use public or private telecommunication systems, natural disasters.</li>
                    <li class="about-us-section-text">Our obligations will be suspended during the period in which Force Majeure events are in effect and we shall resume the obligation as soon as the Force Majeure event ceases or will provide a suitable solution to fulfill our obligation.</li>
                </ul>

                <h2 class="text-uppercase about-us-section-title mb-4 mt-5">Amendments</h2>

                <ul>
                    <li class="about-us-section-text">From time to time, we may review and amend the terms and conditions.</li>
                    <li class="about-us-section-text">You are subject to the terms and conditions in effect at the time you have used our website or obtained ours services or purchased a product. </li>
                </ul>

                <h2 class="text-uppercase about-us-section-title mb-4 mt-5">Governing law and jurisdiction</h2>

                <p class="about-us-section-text">Any matters relating to the use of the website or use of the services shall be governed by and construed in accordance with the laws of Sri Lanka and any dispute arising therein shall be subject to the jurisdiction of Sri Lankan courts.</p>


                <h2 class="text-uppercase about-us-section-title mb-4 mt-5">Reach Us </h2>

                <p class="about-us-section-text">Our Customer Care Support hotlines are open all week from 1000 hrs to 1800 hrs Sri Lankan time.</p>

                <ul>
                    <li class="about-us-section-text">Telephone: 011 2 262 262 | 011 2 268 268</li>
                    <li class="about-us-section-text">Whatsapp: +94 777982000</li>
                    <li class="about-us-section-text">Email: services@queenkuweni.com</li>
                </ul>

            </div>
        </section>

        <!-- Back to top button start -->
        <section class="">
            <div class="container-fluid">
                <button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top">
                    <img src="assets/images/ScrollTop.svg" class="img-fluid" alt="" id="scrollTopWhite">
                    <img src="assets/images/ScrollTop-black.svg" class="img-fluid" alt="" id="scrollTopBlack">
                </button>
               
            </div>
        </section>
        <!-- Back to top button start -->


        <!-- Footer Start-->
        <%- web_footer %>
            <!-- Footer End-->

            <!-- script start-->
            <%- script_tags %>
                <!-- script end-->

                <script>
                    $(document).ready(function () {
                        $("#testimonials-carousel").owlCarousel({
                            items: 1,
                            loop: true,
                            nav: false,
                            dots: false,
                            autoplay: true,
                            autoplayTimeout: 3000,
                            autoplayHoverPause: true,
                        });
                    });

                    // Function to update current item and total items
                    // function updateTestimonialCount(event) {

                    //     var currentItem = event.item.index
                    //     var totalItems = "0" + event.item.count;

                    //     if (!event.item.index == 0) {
                    //         currentItem = "0" + (event.item.index - 2);
                    //     }


                    //     $("#currentItem").text(currentItem);
                    //     $("#totalItems").text(totalItems);
                    // }

                    // Function to navigate to the previous testimonial
                    function prevTestimonial() {
                        $("#testimonials-carousel").trigger('prev.owl.carousel');
                    }

                    // Function to navigate to the next testimonial
                    function nextTestimonial() {
                        $("#testimonials-carousel").trigger('next.owl.carousel');
                    }
                </script>


                <script src="https://player.vimeo.com/api/player.js"></script>

                <script>
                    function showVideo() {
                        document.getElementById("video-background").innerHTML = "";

                        document.getElementById("video-background").innerHTML = `
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/897127203?h=2d416094c7&autoplay=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
            `;
                    }
                </script>

</body>

</html>